<section class="login flex justify-center pt-24">
    <div class="w-full max-w-xs">
        <form action="/register" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <% if(messages.error) {%>
          <span class="text-red-500 text-sm mb-5">
            <%= messages.error %></span>
          <%}%>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                  Name
                </label>
                <input type="text" name="name" value="<%= messages.name %>" 
                class="shadow appearance-none border 
                rounded w-full py-2 px-3 text-gray-700 leading-tight 
                focus:outline-none focus:shadow-outline" id="name" 
                 placeholder="Enter your name">
              </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Email
            </label>
            <input type="email" name="email" value="<%= messages.email %>" 
            class="shadow appearance-none border 
            rounded w-full py-2 px-3 text-gray-700 leading-tight 
            focus:outline-none focus:shadow-outline" id="email" 
             placeholder="Enter your email">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input type="password" name="password" class="shadow appearance-none border 
            rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight 
            focus:outline-none focus:shadow-outline" id="password" 
             placeholder="******************" autocomplete="autocomplete">
          </div>
          <div class="flex items-center justify-between">
            <button class="order-now rounded-full text-white font-bold 
            py-1 px-4  focus:outline-none focus:shadow-outline"
             type="submit">
              Register
            </button>
            <a class="inline-block align-baseline font-bold text-sm " href="/login">
              Allready have account?
            </a>
          </div>
        </form>
        <p class="text-center text-gray-500 text-xs">
          &copy;2020 Mr_fullsatck Corp. All rights reserved.
        </p>
      </div>
</section>