<section class="cart py-16">
    <div class="order container mx-auto w-1/2">
        <div class="flex items-cener border-b border-grey-300 pb-4">
            <img src="/img/cart-black.png" alt="cart-black">
            <h1 class="font-bold ml-4 text-2xl">Order summary</h1>
        </div>
        <div class="pizza-list">
            <div class="flex items-center mt-4">
                <img class="w-24" src="/img/pizza.png" alt="pizza">
                <div class="flex-1 ml-4">
                    <h1>Mariana</h1>
                    <span>Medium</span>
                </div>
                <span class="flex-1">1 Pcs</span><span class="font-bold text-lg">Rs 300</span>
            </div>

            <div class="flex items-center mt-4">
                <img class="w-24" src="/img/pizza.png" alt="pizza">
                <div class="flex-1 ml-4">
                    <h1>Mariana</h1>
                    <span>Medium</span>
                </div>
                <span class="flex-1">1 Pcs</span><span class="font-bold text-lg">Rs 300</span>
            </div>

            <div class="flex items-center mt-4">
                <img class="w-24" src="/img/pizza.png" alt="pizza">
                <div class="flex-1 ml-4">
                    <h1>Mariana</h1>
                    <span>Medium</span>
                </div>
                <span class="flex-1">1 Pcs</span><span class="font-bold text-lg">Rs 300</span>
            </div>

            <div class="flex items-center mt-4">
                <img class="w-24" src="/img/pizza.png" alt="pizza">
                <div class="flex-1 ml-4">
                    <h1>Mariana</h1>
                    <span>Medium</span>
                </div>
                <span class="flex-1">1 Pcs</span><span class="font-bold text-lg">Rs 300</span>
            </div>

            <div class="flex items-center mt-4">
                <img class="w-24" src="/img/pizza.png" alt="pizza">
                <div class="flex-1 ml-4">
                    <h1>Mariana</h1>
                    <span>Medium</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">Rs 300</span>
            </div>
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total Amount:</span>
                <span class="amount text-2xl font-bold ml-2"> 300</span>
            </div>
            <div>
                <form action="" class="mt-10">
                    <input type="text" class="border border-grey-400 p-2 w-1/2 mb-4 mt-2" placeholder="Phone Number">
                    <input type="text" class="border border-grey-400 p-2 w-1/2" placeholder="Address">
                    <div>
                        <button class="order-now inline-block py-1 px-6 rounded-full mt-5 btn-primary  font-bold">Order Now</button>
                    </div>
                </form>
            </div>
            <a href="/" class="inline-block order-now cursor-pointer px-6 py-1 px-6 rounded-full mt-5 btn-primary  font-bold">Login to  continue..</a>
        </div>
    </div>
    <!-- <div class="empy-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">cart empty 😄</h1>
            <p class="text-grey-500 text-lg mb-12">you probably haven't order a  pizza yet,<br>
                to  order a pizza, goto to the main page</p>
                <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty-cart">
                <a href="/" class="order-now inline-block py-1 px-6 rounded-full mt-10 btn-primary  font-bold">Go back</a>
        </div>
    </div> -->
</section>